body{
  background-color: black;
  color: white;
  font-family: 'Helvetica';
  margin: 0 0 50px 0;
  padding: 0;
}

h1#logo{
  background: url('/logo.png') no-repeat center center;
  height: 90px;
  background-size: contain;
}

video{
  margin-bottom: 7px;
}


/* Share Controls */
.shares{
  overflow: hidden;
}
a.share{
  margin-top: 15px;
  height: 50px;
  width: 32%;
  text-indent: -9999px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}
a.share#facebook{
  background-image: url('/facebook-button.png');
}
a.share#facebook:hover{
  background-image: url('/facebook-button-active.png');
}
a.share#twitter{
  background-image: url('/tweet-button.png');
  margin-right: 12%;
  margin-left: 12%;
}
a.share#twitter:hover{
  background-image: url('/tweet-button-active.png');
}


.turnt{
  margin-bottom: 80px;
  overflow: hidden;
}
.turnt h2{
  margin-left: 20px;
}
.turnt a.source{
  float: right;
  margin-right: 20px;
  color: white;
}
